@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 300;
    text-decoration: none;
    
}
::selection{
    background-color: #343535;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #0f0f0f;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #007CED;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
nav .toggle-btn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .toggle-btn span{
    display: block;
    background-color: #007CED;
    margin:5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .nav-links{
    list-style-type: none;
}
nav .nav-links li{
    display: inline-block;
}
nav .nav-links li a{
    color: rgb(247, 247, 247);
    margin-right: 2.5rem;
    transition: 0.3s;
    padding: 8px;
}
nav .nav-links li a:hover{
    color: #007aedd5;
    border-bottom: solid  1px #007CED;
    border-radius: 2px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 13rem;
}
.hero-pic{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}
.hero-pic img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color: #e5e5e5;
    font-size: 15px;
    margin: 5px 0 5px;
}
.hero-text h5 span{
    color: #007CED;
    font-size: 16px;
}
.hero-text h1{
    color: #007CED;
    font-size: 3rem;
}
.hero-text p{
    color: #e5e5e5;
    padding: 35px 0;
}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    margin-right: 7px;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 78%);
    transition: 0.3s;
}
.btn-group .btn:hover{
    background-color: #252525;
    border-color: #007CED;
}
.btn.active{
    border-color: #007CED;
}
.hero-text .social i{
    color: #efefef;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color: #007CED;
    transform: rotate(360deg);
}
/* Partie Responsive + Bouton navbar pour mobile */
@media(max-width:1025px)
{   
    nav .toggle-btn{
        display: initial;
    }
    /* Activer le bouton */
    .click{
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .nav-links{
        position: absolute;
        display: none;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: #0f0f0ff8;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px;
    }
    nav .nav-links li{
        display: block;
    }
    nav .nav-links li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
        font-size: 35px;
        padding: 10px;
        margin-top: 50px;
    }
    nav .nav-links li a:hover{
        background-color: #007CED;
        color: #fafafa;
        box-shadow: 5px -1px 10px rgba(0, 0, 0, 0.5);
    }
    nav .nav-links.open{
        right: 0;
        display: initial;
        
    }
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
        align-items: center;
    }
}
@media(max-width:403px){
    .btn-group{
        display: flex;
    }
}






